extends layout

block content
  .hero-unit
    h1= title
    p welcome to blog which based on nodejs
    p
      - if (locals.user)
        a.btn.btn-primary.btn-large(href='logout') Logout
      - else
        a.btn.btn-primary.btn-large(href='/login') Login
        a.btn.btn-large(href='/reg') Register
  .row
    .span4
      h2 Tom say:
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .span4
      h2 Jack say:
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .span4
      h2 Amy say:
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
