extends layout

block content
  .hero-unit
    h1= title
    p welcome to blog which based on nodejs
    p
      - if (locals.user)
        a.btn.btn-primary.btn-large(href='logout') Logout
      - else
        a.btn.btn-primary.btn-large(href='/login') Login
        a.btn.btn-large(href='/reg') Register
  .row
    for article in articles
      .span4
        h2= article.user
        p= article.content
