doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') blog
          .nav-collapse
            ul.nav.pills.pull-right
              - if (locals.user)
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown')= locals.user.name
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/article') 发表
                    li
                      a(href='/logout') 退出
              - else
                li
                  a(href='/login') 登录
                li
                  a(href='/reg') 注册

    #container.container
       #flash.container
         - if (success)
           .alert.alert-success= success
         - if (error)
            .alert alert-error= error

      block content
      hr
      footer
        p
          a(href='http://caok1231.com', target='_blank') caok

  script(src='/javascripts/jquery-1.9.1.min.js')
  script(src='/javascripts/bootstrap.min.js')
